<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
</head>
<body>
    <h1>My To-Do-List</h1>
    <div id="toDoApp" class="container">
        <form action="">
            <input type="text" placeholder="Type Your Task" v-model="taskText" />
            <button @click.prevent="addTask" :disabled="!taskText" >Add Task</button>
            <button class="delete-all" v-if="tasks.length >1" @click.prevent="deleteAll">Delete All</button>
        </form>
        <div class="tasks-list" v-for="(task,index) in tasks">
            <div class="task-box" @click="task.done = !task.done" :style="{'text-decoration': task.done ? 'line-through' : '' }">
                {{task.words}}
            </div>
            <span class="delete" @click="deleteTask(index)">Delete</span>
        </div>
    </div>

    
    <script src="js/vue.js"></script>
    <script>

        var app = new Vue({
            el: '#toDoApp',
            data: {
                tasks: [],
                taskText: "",
            },
            methods: {
                addTask: function () {
                    this.tasks.push({words: this.taskText, done: false});
                    this.taskText = "";
                },

                deleteTask: function(index) {
                    this.tasks.splice(index,1);
                },

                deleteAll: function(){ 
                    this.tasks = [];
                }
                
            }
        });

    </script>
    <footer id="footer" class="footer">
        <p>&copy; F3R All rights reserved</p>
    </footer>
</body>
</html>